.post-table{
  width: 60%;
  margin: 30px auto;
}

table {
  margin: 20px 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.not-loggedin {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
