<div class="post-new">
  <h2>Create New Post</h2>
  <form [formGroup]="addForm" (ngSubmit)="createPost()">
    <div class="row form-group">
      <input type="text" placeholder="Title" name="title" id="title" class="form-control" formControlName="title">
    </div>
    <div class="row form-group">
      <textarea name="body" placeholder="Body" id="body" class="form-control" cols="30" rows="10" formControlName="body"></textarea>
    </div>
    <button class="btn button" type="submit">Save</button>
  </form>
</div>
