<div class="user-create">
  <h2>Create New User</h2>
  <form [formGroup]="createForm" (ngSubmit)="createUser()">
    <div class="row form-group">
      <input type="text" placeholder="Name" name="name" id="name" class="form-control" formControlName="name">
    </div>
    <div class="row form-group">
      <input type="text" placeholder="Mail" name="mail" id="mail" class="form-control" formControlName="mail">
    </div>
    <div class="row form-group">
      <input type="date" placeholder="Date of birth" name="dob" id="dob" class="form-control" formControlName="dob">
    </div>
    <button type="submit" class="btn button">Save</button>
  </form>
</div>

