<form [formGroup]="createForm" (ngSubmit)="createUser()" class="container">
  <div class="row form-group mt-2">
    <div class="col-2">
      <label for="name">Name</label>
    </div>
     <div class="col-10">
      <input type="text" name="name" id="name" class="form-control" formControlName="name">
    </div>
  </div>
  <div class="row form-group mt-2">
    <div class="col-2">
      <label for="mail">Mail</label>
    </div>
    <div class="col-10">
      <input type="text" name="mail" id="mail" class="form-control" formControlName="mail">
    </div>
  </div>
  <div class="row form-group mt-2">
    <div class="col-2">
      <label for="dob">Date Of Birth</label>
    </div>
    <div class="col-10">
      <input type="text" name="dob" id="dob" class="form-control" formControlName="dob">
    </div>
  </div>
  <div class="row form-group mt-2">
    <div class="col-10 offset-2">
      <button type="submit" class="btn btn-primary">update</button>
    </div>
  </div>
</form>

