<div class="user-table" *ngIf="user">
  <a routerLink="new" class="btn btn-secondary">New User</a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Mail</th>
        <th scope="col">Date Of Path</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let user of users; let count=index">
        <td>{{count+1}}</td>
        <td>
          <a [routerLink]="user._id">{{user.name}}</a>
        </td>
        <td>{{user.mail}}</td>
        <td>{{user.dob}}</td>
        <td>
          <a [routerLink]="[user._id, 'edit']" class="btn btn-secondary d-inline-block mr-2">Edit</a>
          <a (click)="deleteUser(user._id)" class="btn">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!user">
  <div class="not-loggedin">
    <h3>Login to View this page.</h3>
  </div>
</div>
