.user-table {
  width: 60%;
  margin: 30px auto;
}
.user-table .table {
  margin-top: 20px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.not-loggedin {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

