<div class="login">
  <h2>Login</h2>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <div class="row form-group">
      <input placeholder="Email:" type="text" name="name" id="username" class="form-control" formControlName="username">
    </div>
    <div class="row form-group">
      <input placeholder="Password:" type="password" name="password" id="password" class="form-control" formControlName="password">
    </div>
    <div class="row form-group">
      <span class="text-danger">{{err}}</span>
    </div>
    <button type="submit" class="btn button">Login</button>
  </form>
</div>
