h1.fadeIn span{
  font-size: 50px;
  margin-right: 5px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 0.5s ease-out forwards;
  display:inline-block;
}

h1.fadeIn span:nth-of-type(2){
  animation-delay: 0.5s;
}

h1.fadeIn span:nth-of-type(3){
  animation-delay: 1s;
}

h1.fadeIn span:nth-of-type(4){
  animation-delay: 1.5s;
}

h1.fadeIn span.second {
  font-size: 25px;
  animation-delay: 2s;
}

h1.fadeIn span.last {
  font-size: 25px;
  animation-delay: 2.2s;
}

@keyframes fadeIn{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
