<div class="post-edit">
  <h2>Edit Post</h2>
  <form [formGroup]="editForm" (ngSubmit)="updatePost()">
    <div class="row form-group">
      <input type="text" placeholder="Title" name="title" id="title" class="form-control" formControlName="title">
    </div>
    <div class="row form-group">
      <textarea name="body" placeholder="Body" id="body" class="form-control" cols="30" rows="10" formControlName="body"></textarea>
    </div>
    <div class="row form-group">
      <input type="text" placeholder="Author" name="author" id="author" class="form-control" formControlName="author">
    </div>
    <button class="btn button" type="submit">Update</button>
  </form>
</div>
